<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание команды</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="create_team-container">
        <h2>Создание команды</h2>
        <form method="POST" action="{{ url_for('create_team') }}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <label for="coach_name">Имя тренера:</label>
            <input type="text" name="coach_name" id="coach_name" required>
            <br>
            <label for="team_name">Название команды:</label>
            <input type="text" name="team_name" id="team_name" required>
            <br>
            <label for="team_abbreviation">Аббревиатура команды</label>
            <input type="text" name="team_abbreviation" id="team_abbreviation" required>
            <input type="submit" value="Создать команду">
        </form>
    </div>
</body>
</html>