<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="login-container">
        <h2>Вход</h2>
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.csrf_token }}
            <div class="login-form-group">
                <label for="username">Имя аккаунта</label>
                <input type="text" id="username" name="username" class="login-form-control" required>
            </div>
            <div class="login-form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" class="login-form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Вход</button>
        </form>
    </div>
</body>
</html>