<!DOCTYPE html>
<html>
<head>
    <title>Матчи</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="matches-container">
        <a href="{{ url_for('index') }}" class="home-button">На главную страницу</a>
        <h2>Матчи</h2>
        <form method="POST" action="{{ url_for('matches') }}">
            <label for="opponent_name">Команда противника:</label>
            <input type="text" name="opponent_name" id="opponent_name" required>
            <br>
            <label for="score">Счёт:</label>
            <input type="text" name="score" id="score" placeholder="Твоя команда:Команда соперника" required>
            <br>
            <label for="team_name">Твоя команда:</label>
            <input type="text" name="team_name" id="team_name" required>
            <br>
            <input type="submit" value="Создать матч">
        </form>
    </div>
</body>
</html>
</html>