<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="profile-container">
        <a href="{{ url_for('index') }}" class="home-button">На главную страницу</a>
        <h1>Профиль</h1>
        <div class="profile-info">
            <p class="profile-username">{{ username }}</p>
        </div>
    </div>
</body>
</html>