<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="profile-container">
        <a href="{{ url_for('index') }}" class="home-button">На главную страницу</a>
        <div class="profile-info">
            <div class="profile-avatar-frame">
                {% if session['avatar'] %}
                    <img src="{{ url_for('static', filename='images/' ~ session['avatar']) }}" alt="Аватар">
                {% endif %}
            </div>
            <div class="profile-name">
                <h1>Профиль</h1>
                <p class="profile-username">{{ username }}</p>
            </div>
            <form action="{{ url_for('profile') }}" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="avatar">Загрузить аватар:</label>
                    {{ form.avatar(class="form-control-file") }}
                </div>
                <button type="submit" class="btn btn-primary">Загрузить</button>
            </form>
        </div>
    </div>
</body>
</html>