<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="register-container">
        <h1>Регистрация</h1>
        <form method="POST" action="{{ url_for('register') }}">
            {{ form.csrf_token }}
            <div class="register-form-group">
                {{ form.username.label }}<br>
                {{ form.username(class="form-control") }}
                {{ form.username.errors }}
            </div>
            <div class="register-form-group">
                {{ form.password.label }}<br>
                {{ form.password(class="form-control") }}
                {{ form.password.errors }}
            </div>
            <div class="register-form-group">
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(class="form-control") }}
                {{ form.confirm_password.errors }}
            </div>
            <div class="register-form-group">
                <button type="submit">Регистрация</button>
            </div>
        </form>
    </div>
</body>
</html>