<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статистика команды</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="team_stats-container">
        <a href="{{ url_for('index') }}" class="home-button">На главную страницу</a>
        <h1>Статистика команды</h1>
        <table>
            <tr>
                <th>Твоя команда</th>
                <th>Конечный счёт</th>
                <th>Команда противника</th>
            </tr>
            {% for match in matches %}
            <tr>
                <td class="team_stats-team-name">{{ match[1] }}</td>
                <td class="team_stats-text-center">{{ match[3] }} - {{ match[4] }}</td>
                <td class="team_stats-team-name">{{ match[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>